@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<div class="text-white mb-3"><h1 class="px-5 py-4 w-100 text-info bg-gradient rounded-3 text-center arabic">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</h1></div>

<div class="surah-layout">
    @foreach (Sura sura in SuraList)
    {
        <div class="card shadow-sm align-items-center d-grid">
            <a href="AyaList?SuraId=@sura.Id&SuraName=@sura.Name" class="text-decoration-none text-body align-content-center">
                <div class="row-container text-center">
                    <div class="row-left">
                        <div class="surah-number"><span>@($"{sura.Id}")</span></div>
                        <div class="surah-name-container">
                            <div class="translated-surah-name">@($"{sura.Name}")</div>
                            @{
                                var revealed = sura.RevealedIn ? "Makka" : "Madina";
                            }
                            <span class="text-muted">@sura.Meaning <br/><span class="small">@revealed</span></span>
                        </div>
                    </div>
                    <div class="row-right">
                        <h5 class="arabic">@sura.ArabicName</h5>
                        <div class="aya-count text-muted small"><span>@($"({sura.AyaCount})")</span></div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
@* <button class="btn btn-primary" @onclick="() => RefreshContent()">Refresh</button> *@
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private Sura[] SuraList = new Sura[] { };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            SuraList = await Http.GetFromJsonAsync<Sura[]>("/api/Sura") ?? new Sura[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

}